body{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    line-height: inherit;
}
* {
    margin: 0;
    padding: 0;

}
html{
    line-height: 1.6;
}

.rich_media_content{
    user-select:all;
    -moz-user-select: all;
    -ms-user-select: all;
    -webkit-user-select: all;
}
.scrollWrapper{
    overflow-y: auto;
    max-height: 100%;
}