<!DOCTYPE html>
<html lang="en" style="height: 100%" ng-app="main" ng-controller="mainController as mc">
<head>
    <meta name="referrer" content="never">
    <meta charset="UTF-8">
    <title>thePi - Pic Generator</title>
    <link rel="stylesheet" href="css/css.css">
    <script src="js/angular.min.js"></script>
    <script src="js/appPicGen.js"></script>
    <script src="js/template.js"></script>
</head>
<body style="height: 100%;width: 100%">
<table style="height: 100%;width: 100%">
    <tr>
        <td width="60%" >




            <div class="scrollWrapper" style="min-width:690px;margin: auto;background-color: #CCC">
                <img src="img/mpTemplate.png" id="imgMpTemp" style="display: none">
                <canvas id="cvsMp" width="1000px" height="571px"></canvas>
                <img src="img/covTemplate.png" id="imgCovTemp" style="display: none">
                <canvas id="cvsCov" width="900px" height="500px"></canvas>
                <p ng-bind="mc.doRefresh()" style="display: none"></p>
            </div>
        </td>

        <td width="100%" height="100%">
            <div class="scrollWrapper">

                <p>写手名字</p>
                <input type="text" ng-model="mc.authorName" style="width:auto;">
                <p>个性签名</p>
                <textarea type="text" ng-model="mc.authorTxt" style="width:70%;height: 300px"></textarea>

                <div class="content" style="max-height:200px;">
                    <div>

                        作者头像&nbsp;<input type="button" value="选择文件"  onclick="Id('filePicHead').click();"/>
                        <input type="file" accept="image/png,image/jpg,image/jpeg"  id="filePicHead" onchange="changeToop('filePicHead','imgPicHead');" style="display:none;" />
                    </div>
                    <div style="float:left;">
                        <img id="imgPicHead" src="" style="display: none"/>
                    </div>
                </div>
                <p>封面文字</p>
                <textarea type="text" ng-model="mc.coverTxt" style="width:70%;height: 300px"></textarea>

                <div class="content" style="max-height:200px;">
                    <div>
                        封面背景&nbsp;<input type="button" value="选择文件"  onclick="Id('fileCovBkg').click();"/>
                        <input type="file" accept="image/png,image/jpg,image/jpeg"  id="fileCovBkg" onchange="changeToop('fileCovBkg','imgCovBkg');" style="display:none;" />
                    </div>
                    <div style="float:left;">
                        <img id="imgCovBkg" src="" style="display: none;"/>
                    </div>
                </div>
                <p><a href="index.html">文章排版工具</a></p>
            </div>
        </td>

    </tr>
</table>
</body>
</html>
